html {
  background: #f3e8ff;
}

body {
  margin: 0;
  min-width: 320px;
}

button,
input {
  font: inherit;
}

.text-outline-sm {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
